<div class="nested-fields col-12">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.collection_select :credential_attr_id, CredentialAttr.all, :id, :name,{ prompt: "Select Attribute"}, { class: "form-control shadow rounded shadow rounded" } %>

      </div>
    </div>
    <div class="col-8">
      <div class="form-group">
        <%= f.text_field :value, value: f.object.decrypted_value, class: "form-control shadow rounded shadow rounded", placeholder: "Enter Value here" %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= link_to_remove_association "Remove", f, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
