<div class="mini-footer" align="center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© 2021.
              <%= link_to  "Information Vault ", "http://projects.allerin.com/issues/108948?issue_count=95&issue_position=12&next_issue_id=108947&prev_issue_id=108949" %> Created by

              <%= link_to  "Shubham Taywade ", "http://projects.allerin.com/issues/108948?issue_count=95&issue_position=12&next_issue_id=108947&prev_issue_id=108949" %>
            </p>
          </div>

          <div class="go_top">
            <span class="icon-arrow-up"></span>
            <%= link_to 'top', html: { class: 'btn btn-success' } %>
            <i class="icon-arrow-up"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>